on: [push]
jobs:
  test_job:
    runs-on: ubuntu-latest
    name: test
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: docker-build
        run: |
          docker-compose up